kraken_4.json
[
    {
        "id": "0833c215ec6eaf50",
        "type": "tab",
        "label": "Kraken Flow",
        "disabled": false,
        "info": "HTTP Request = http://KRAKEN_IP:8081/DOA_value.html\nWill broadcast via ATAK default multicast address\nIf no Lat/Long then it drops the marker to a default location",
        "env": []
    },
    {
        "id": "9d8f0d08abfc4e12",
        "type": "inject",
        "z": "0833c215ec6eaf50",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "0c728ce4bb4aa5b7"
            ]
        ]
    },
    {
        "id": "0c728ce4bb4aa5b7",
        "type": "http request",
        "z": "0833c215ec6eaf50",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.0.0.16:8081/DOA_value.html",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 160,
        "wires": [
            [
                "6c3928841fe909d6"
            ]
        ]
    },
    {
        "id": "c60a6c81203c0503",
        "type": "debug",
        "z": "0833c215ec6eaf50",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "6c3928841fe909d6",
        "type": "function",
        "z": "0833c215ec6eaf50",
        "name": "Parse Kraken Data",
        "func": "var rawData = msg.payload.split(','); // Split the raw data by comma\nvar parsedData = {\n    epochTime: parseInt(rawData[0]),\n    maxDOAAngle: parseFloat(rawData[1]),\n    confidenceValue: parseFloat(rawData[2]),\n    rssiPower: parseFloat(rawData[3]),\n    channelFrequency: parseInt(rawData[4]),\n    antennaArray: rawData[5],\n    latency: parseInt(rawData[6]),\n    stationID: rawData[7],\n    latitude: parseFloat(rawData[8]),\n    longitude: parseFloat(rawData[9]),\n    gpsHeading: parseFloat(rawData[10]),\n    compassHeading: parseFloat(rawData[11]),\n    mainHeadingSensor: rawData[12]\n};\n\nmsg.payload = parsedData; // Replace the payload with the parsed data\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "254904163928f7fe",
                "c59b8d63bc6eb051"
            ]
        ]
    },
    {
        "id": "397a96bbb741b39d",
        "type": "xml",
        "z": "0833c215ec6eaf50",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 870,
        "y": 160,
        "wires": [
            [
                "c003c3add6c9fdc0"
            ]
        ]
    },
    {
        "id": "254904163928f7fe",
        "type": "function",
        "z": "0833c215ec6eaf50",
        "name": "Kraken Plot Marker",
        "func": "// Assuming the parsed data is available in msg.payload\nconst parsedData = msg.payload;\n\n// Extracting necessary variables from parsed data\nconst {\n    epochTime,\n    maxDOAAngle,\n    confidenceValue,\n    rssiPower,\n    channelFrequency,\n    antennaArray,\n    latency,\n    stationID,\n    latitude,\n    longitude,\n    gpsHeading,\n    compassHeading,\n    mainHeadingSensor\n} = parsedData;\n\nconst dtD = new Date(epochTime);\nconst dtD5 = new Date(epochTime + 14400000);\n\n// Default values for latitude and longitude if they are blank\nconst defaultLatitude = 35.15722;\nconst defaultLongitude = -79.41477;\n\n// Use default values if latitude and/or longitude are blank\nconst finalLatitude = latitude !== 0 ? latitude : defaultLatitude;\nconst finalLongitude = longitude !== 0 ? longitude : defaultLongitude;\n\n// Creating a string with selected variables for the \"remarks\" field\nconst selectedVariables = {\n    maxDOAAngle,\n    confidenceValue,\n    rssiPower,\n    antennaArray,\n    latency,\n    stationID,\n    gpsHeading,\n    compassHeading,\n    mainHeadingSensor\n};\n\nconst remarks = Object.entries(selectedVariables)\n    .map(([key, value]) => `${key}: ${JSON.stringify(value)}`)\n    .join(\", \");\n\nconst payload = {\n    event: {\n        $: {\n            version: \"2.0\",\n            type: \"b-m-p-s-m\",\n            uid: `${channelFrequency}`,\n            time: dtD.toISOString(),\n            start: dtD.toISOString(),\n            stale: dtD5.toISOString(),\n            how: \"h-g-i-g-o\"\n        },\n        point: [\n            {\n                $: {\n                    lat: `${finalLatitude}`,\n                    lon: `${finalLongitude}`,\n                    hae: \"9999999.0\",\n                    ce: \"35.0\",\n                    le: \"9999999.0\"\n                }\n            }\n        ],\n        detail: {\n            status: {\n                $: {\n                    readiness: \"true\"\n                }\n            },\n            archive: [{}, {}],\n            link: {\n                $: {\n                    uid: \"80085\",\n                    production_time: dtD.toISOString(),\n                    type: \"a-f-G-U-C\",\n                    parent_callsign: \"CanaryTAK\",\n                    relation: \"p-p\"\n                }\n            },\n            contact: {\n                $: {\n                    callsign: `Kraken Plot`\n                }\n            },\n            remarks: `${remarks}`,\n            color: {\n                $: {\n                    argb: \"-65281\"\n                }\n            },\n            precisionlocation: {\n                $: {\n                    altsrc: \"Kraken\"\n                }\n            },\n            usericon: {\n                $: {\n                    iconsetpath: `COT_MAPPING_SPOTMAP/b-m-p-s-m/-65281`\n                }\n            },\n            parsedData: parsedData\n        }\n    }\n};\n\nreturn { payload };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 160,
        "wires": [
            [
                "397a96bbb741b39d"
            ]
        ]
    },
    {
        "id": "c003c3add6c9fdc0",
        "type": "udp out",
        "z": "0833c215ec6eaf50",
        "name": "Multicast SA",
        "addr": "239.2.3.1",
        "iface": "",
        "port": "6969",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "cd187dea00ae1a8c",
        "type": "debug",
        "z": "0833c215ec6eaf50",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "10b2e9975521ea53",
        "type": "gpsd",
        "z": "0833c215ec6eaf50",
        "name": "",
        "hostname": "0.0.0.0",
        "port": "2947",
        "tpv": true,
        "sky": false,
        "info": false,
        "device": false,
        "gst": false,
        "att": false,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "a6bd50cc55988e7a"
            ]
        ]
    },
    {
        "id": "a6bd50cc55988e7a",
        "type": "function",
        "z": "0833c215ec6eaf50",
        "name": "Parse GPSD",
        "func": "// Input: msg.payload should contain the GPSD packet\ntry {\n    // Ensure msg.payload is a string\n    var payloadString = typeof msg.payload === 'string' ? msg.payload : JSON.stringify(msg.payload);\n\n    // Parse the JSON\n    var gpsPacket = JSON.parse(payloadString);\n\n    // Extracting relevant information\n    var krakenLatitude = gpsPacket.lat;\n    var krakenLongitude = gpsPacket.lon;\n    var krakenAltitude = gpsPacket.alt;\n    var krakenSpeed = gpsPacket.speed;\n    var krakenHeading = gpsPacket.track;\n    var krakenTimestamp = gpsPacket.time;\n    var krakenStatus = gpsPacket.status;\n    var krakenMode = gpsPacket.mode;\n\n    // Creating new message object with \"kraken\" variables\n    msg.payload = {\n        krakenLatitude: krakenLatitude,\n        krakenLongitude: krakenLongitude,\n        krakenAltitude: krakenAltitude,\n        krakenSpeed: krakenSpeed,\n        krakenHeading: krakenHeading,\n        krakenTimestamp: krakenTimestamp,\n        krakenStatus: krakenStatus,\n        krakenMode: krakenMode\n    };\n\n    // Send the modified message to the next node\n    return msg;\n} catch (error) {\n    // Handle the error (e.g., log it or send it to a debug node)\n    node.error('Error parsing GPSD packet: ' + error.message);\n    return null; // Stop processing to prevent further errors\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "e3c127ebc309d35d",
                "c59b8d63bc6eb051"
            ]
        ]
    },
    {
        "id": "e3c127ebc309d35d",
        "type": "function",
        "z": "0833c215ec6eaf50",
        "name": "GPSD Marker",
        "func": "// Assuming the parsed data is available in msg.payload\nconst parsedData = msg.payload;\n\n// Extracting necessary variables from parsed data\nconst {\n    krakenLatitude,\n    krakenLongitude,\n    krakenTimestamp,\n    maxDOAAngle,\n    confidenceValue,\n    rssiPower,\n    antennaArray,\n    latency,\n    stationID,\n    gpsHeading,\n    compassHeading,\n    mainHeadingSensor\n} = parsedData;\n\nconst dtD = new Date(krakenTimestamp);\nconst dtD5 = new Date(dtD.getTime() + 60000); // Fixed staleness duration of 60 seconds\n\n// Creating a string with selected variables for the \"remarks\" field\nconst selectedVariables = {\n    maxDOAAngle,\n    confidenceValue,\n    rssiPower,\n    antennaArray,\n    latency,\n    stationID,\n    gpsHeading,\n    compassHeading,\n    mainHeadingSensor\n};\n\nconst remarks = Object.entries(selectedVariables)\n    .map(([key, value]) => `${key}: ${JSON.stringify(value)}`)\n    .join(\", \");\n\nconst payload = {\n    event: {\n        $: {\n            version: \"2.0\",\n            type: \"b-m-p-s-m\",\n            uid: \"CanaryKraken\", // Fixed UID as \"CanaryKraken\"\n            time: dtD.toISOString(),\n            start: dtD.toISOString(),\n            stale: dtD5.toISOString(),\n            how: \"h-g-i-g-o\"\n        },\n        point: [\n            {\n                $: {\n                    lat: `${krakenLatitude}`,\n                    lon: `${krakenLongitude}`,\n                    hae: \"9999999.0\",\n                    ce: \"35.0\",\n                    le: \"9999999.0\"\n                }\n            }\n        ],\n        detail: {\n            status: {\n                $: {\n                    readiness: \"true\"\n                }\n            },\n            archive: [{}, {}],\n            link: {\n                $: {\n                    uid: \"80085\",\n                    production_time: dtD.toISOString(),\n                    type: \"a-f-G-U-C\",\n                    parent_callsign: \"CanaryTAK\",\n                    relation: \"p-p\"\n                }\n            },\n            contact: {\n                $: {\n                    callsign: \"Kraken Plot\"\n                }\n            },\n            remarks: `${remarks}`,\n            color: {\n                $: {\n                    argb: \"-65536\"\n                }\n            },\n            precisionlocation: {\n                $: {\n                    altsrc: \"Kraken\"\n                }\n            },\n            usericon: {\n                $: {\n                    iconsetpath: \"COT_MAPPING_SPOTMAP/b-m-p-s-m/-65536\"\n                }\n            },\n            parsedData: parsedData\n        }\n    }\n};\n\nreturn { payload };\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 280,
        "wires": [
            [
                "2e3c6f8162dfa2cf"
            ]
        ]
    },
    {
        "id": "2e3c6f8162dfa2cf",
        "type": "xml",
        "z": "0833c215ec6eaf50",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 870,
        "y": 280,
        "wires": [
            [
                "c003c3add6c9fdc0"
            ]
        ]
    },
    {
        "id": "c59b8d63bc6eb051",
        "type": "function",
        "z": "0833c215ec6eaf50",
        "name": "DOA Line",
        "func": "// Assuming the parsed data is available in msg.payload\nconst parsedData = msg.payload;\n\n// Extracting necessary variables from parsed data\nconst {\n    krakenLatitude,\n    krakenLongitude,\n    krakenTimestamp,\n    maxDOAAngle,\n    confidenceValue,\n    rssiPower,\n    stationID\n} = parsedData;\n\nconst dtD = new Date(krakenTimestamp);\nconst dtDStale = new Date(dtD.getTime() + 60000); // Fixed staleness duration of 60 seconds\n\n// Creating a string with selected variables for the \"remarks\" field\nconst selectedVariables = {\n    maxDOAAngle,\n    confidenceValue,\n    rssiPower,\n    stationID\n};\n\nconst remarks = Object.entries(selectedVariables)\n    .map(([key, value]) => `${key}: ${JSON.stringify(value)}`)\n    .join(\", \");\n\nconst linePayload = {\n    event: {\n        $: {\n            version: \"2.0\",\n            type: \"u-rb-a\", // Correct event type\n            uid: \"LineEvent\", // Unique UID for the line event\n            time: dtD.toISOString(),\n            start: dtD.toISOString(),\n            stale: dtDStale.toISOString(), // Set the staleness duration for the line event\n            how: \"h-e\"\n        },\n        point: [\n            {\n                $: {\n                    lat: `${krakenLatitude}`,\n                    lon: `${krakenLongitude}`,\n                    hae: \"9999999.0\",\n                    ce: \"9999999.0\",\n                    le: \"9999999.0\"\n                }\n            }\n        ],\n        detail: {\n            contact: {\n                $: {\n                    callsign: \"Range & Bearing 0\"\n                }\n            },\n            range: {\n                $: {\n                    value: \"0.0\" // Starting range (set to 0 for the starting point)\n                }\n            },\n            bearing: {\n                $: {\n                    value: maxDOAAngle.toString() // Set bearing to maxDOAAngle\n                }\n            },\n            inclination: {\n                $: {\n                    value: \"0\" // Starting inclination (set to 0 for the starting point)\n                }\n            },\n            rangeUnits: {\n                $: {\n                    value: \"1\"\n                }\n            },\n            bearingUnits: {\n                $: {\n                    value: \"0\"\n                }\n            },\n            northRef: {\n                $: {\n                    value: \"1\"\n                }\n            },\n            color: {\n                $: {\n                    value: \"-16744704\" // ARGB for color (here set to yellow)\n                }\n            },\n            strokeColor: {\n                $: {\n                    value: \"-16744704\" // ARGB for stroke color (here set to yellow)\n                }\n            },\n            strokeWeight: {\n                $: {\n                    value: \"3.0\"\n                }\n            },\n            archive: {},\n            remarks: `${remarks}`\n        }\n    }\n};\n\nreturn { linePayload }; // Return the linePayload",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "a6a917c99644b539"
            ]
        ]
    },
    {
        "id": "a6a917c99644b539",
        "type": "xml",
        "z": "0833c215ec6eaf50",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 870,
        "y": 220,
        "wires": [
            [
                "c003c3add6c9fdc0"
            ]
        ]
    }
]